@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;

.bug-report {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__back {
        position: absolute;
        left: 0.3rem;
        top: 0.5rem;
        color: $color-text-sub;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;

        &--desc {
            font-size: $font-size-lg;
            line-height: 1.5;
            letter-spacing: 1px;
            color: $color-text-main;
        }

        &--textarea {
            font-size: 1.6rem;
            min-height: 15rem;
            padding: 1rem;
            border-radius: 1rem;
            border: 1px solid $color-stone-500;
            resize: vertical;
        }
    }
}
