@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;

.progress-bar-container {
  width: 100%;
  border-radius: 1rem;
  margin: 1rem 0;
}

.progress-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.75rem;
  font-family: inherit;

  &__label {
    font-weight: $font-weight-semibold;
    color: $color-stone-800;
    font-size: $font-size-lg;
  }

  &__value {
    font-size: $font-size-base;
    color: $color-stone-500;
    font-weight: $font-weight-semibold;
  }
}

.progress-fill {
  width: 100%;
  height: 1rem;
  background-color: $color-stone-200;
  border-radius: 5px;
  overflow: hidden;
  position: relative;

  &__value {
    height: 100%;
    background: linear-gradient(90deg, $color-amber-500, $color-amber-600);
    border-radius: 5px;
    transition: width 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
    box-shadow: 0 0 10px rgba($color-amber-500, 0.3);

    text-indent: -9999px;
  }
}
