@use "../abstracts/variables" as *;
@use "../abstracts/fonts" as *;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-family-base;
  color: $color-text-main;
  background-color: $color-bg-start;
}

.main {
  padding-bottom: 5rem;
}

h1,
h2,
h3,
h4 {
  font-family: $font-family-heading;
  margin: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  font-family: inherit;
}

input,
textarea {
  outline: none;
  font-family: inherit;
}
