@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");

// FONTS
$font-family-base: "Plus Jakarta Sans", sans-serif;
$font-family-heading: "Playfair Display", serif;

// FONT WEIGHTS
$font-weight-base: 400;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-semibold: 600;

// FONT SIZES
$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;
$font-size-3xl: 3rem;
$font-size-4xl: 4rem;
$font-size-5xl: 5rem;
$font-size-6xl: 6rem;
$font-size-7xl: 7rem;
$font-size-8xl: 8rem;
$font-size-9xl: 9rem;
