@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;800&family=Plus+Jakarta+Sans:wght@300;400;500;700&display=swap");

$font-family-base: "Plus Jakarta Sans", sans-serif;
$font-family-heading: "Playfair Display", serif;
