// COLORS
$color-bg-start: #fefce8;
$color-bg-end: #f5f5f4;
$color-text-main: #292524;
$color-text-sub: #78716c;
$color-text-light: #a8a29e;

$color-amber-50: #fffbeb;
$color-amber-100: #fef3c7;
$color-amber-500: #f59e0b;
$color-amber-600: #d97706;
$color-amber-700: #b45309;

$color-emerald-100: #d1fae5;
$color-emerald-500: #10b981;
$color-emerald-600: #059669;
$color-emerald-700: #047857;

$color-stone-50: #fafaf9;
$color-stone-100: #f5f5f4;
$color-stone-200: #e7e5e4;
$color-stone-800: #292524;
$color-white: #ffffff;
