@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;

.spirit-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 90%;
  margin: 0 auto;
  background: rgba($color-white, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 1.5rem;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

  &__header {
    text-align: center;

    h3 {
      font-size: $font-size-2xl;
      color: $color-stone-800;
      margin-bottom: 0.5rem;
      font-weight: 700;
    }

    span {
      color: $color-text-sub;
      font-style: italic;
      font-size: $font-size-xl;
      opacity: 0.8;
    }
  }

  &__flame {
    margin: 1rem 0;
    width: 30rem;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 12rem;
      height: 2rem;
      background: radial-gradient(
        ellipse at center,
        rgba(0, 0, 0, 0.1) 0%,
        rgba(0, 0, 0, 0) 70%
      );
      border-radius: 50%;
      z-index: -1;
    }
  }
}
