@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;
@use "../../abstracts/mixins" as *;

.spirit-container {
  @include card-base;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  &__header {
    text-align: center;

    h3 {
      font-size: $font-size-2xl;
      color: $color-stone-800;
      margin-bottom: 0.5rem;
      font-weight: 700;
    }

    span {
      color: $color-text-sub;
      font-style: italic;
      font-size: $font-size-xl;
      opacity: 0.8;
    }
  }

  &__flame {
    margin: 1rem 0;
    width: 30rem;
    min-height: 15rem; // Reduced from 25rem fixed
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
}
