@use "../../abstracts/animations" as *;
@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;
@use "../../abstracts/mixins" as *;

.prayer-card {
  @include card-base;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    font-size: $font-size-2xl;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__subtitle {
    color: $color-text-sub;
    font-size: $font-size-lg;
    text-transform: uppercase;
  }

  &__input {
    @include input-base($color-amber-500);
    min-height: 4rem;
  }

  &__textarea {
    @include input-base($color-amber-500);
    min-height: 8rem;
    resize: none;
  }
}
