@use "../../abstracts/animations" as *;
@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;

.prayer-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 90%;
  margin: 2rem auto 0;
  background: white;
  padding: 2rem;
  border: 1px solid $color-stone-200;
  border-radius: 2rem;
  position: relative;

  &__header {
    display: flex;
    gap: 1rem;
    font-size: $font-size-2xl;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__icon {
    background: $color-amber-200;
    color: $color-amber-600;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
  }

  &__input {
    min-height: 4rem;
    border: 1px solid $color-stone-200;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: all 0.2s;
  }

  &__textarea {
    min-height: 8rem;
    border: 1px solid $color-stone-200;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: all 0.2s;
    resize: none;
  }

  &__input,
  &__textarea {
    &:focus {
      background-color: white;
      border-color: $color-amber-500;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transform: translateY(-1px);
      outline: none;
    }

    &::placeholder {
      font-size: $font-size-xl;
    }
  }
}
