@use "../../abstracts/animations" as *;
@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;
@use "../../abstracts/mixins" as *;

.gratitude-card {
  @include card-base;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &__header {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__title {
    font-size: $font-size-2xl;
    color: $color-stone-800;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  &__subtitle {
    color: $color-text-sub;
    font-size: $font-size-lg;
    text-transform: uppercase;
  }
}

.gratitude-entry {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1.25rem;
  animation: fadeIn 0.5s ease-out forwards;

  @for $i from 1 through 3 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }

  &__num {
    font-family: "Playfair Display", serif;
    font-size: $font-size-2xl;
    color: $color-emerald-500;
    font-weight: 600;
    min-width: 2.5rem;
  }

  &__input {
    @include input-base($color-emerald-500);
  }

  &.disabled {
    opacity: 0.7;
    pointer-events: none;

    .gratitude-entry__input {
      background: transparent;
      border-color: transparent;
      color: $color-stone-800;
      padding-left: 0;
    }
  }
}

.gratitude-actions {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5rem;
}
