@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;

.gratitudes-history {
  max-width: 90%;
  margin: 3rem auto 0;

  h3 {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: $font-size-base;
    color: $color-stone-500;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 2rem;
  }

  &__card {
    display: flex;
    align-items: flex-start center;
    justify-content: center;
    gap: 2rem;
    background: white;
    padding: 2rem;
    border-radius: 2rem;
    border: 1px solid $color-stone-200;
    margin-bottom: 1.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05);
  }

  .date-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $color-emerald-100;
    color: $color-emerald-600;
    padding: 1rem;
    border-radius: 1.5rem;
    min-width: 6rem;

    &__month {
      font-size: $font-size-base;
      text-transform: uppercase;
      font-weight: $font-weight-bold;
      margin: 0;
      line-height: 1;
    }

    &__day {
      font-size: $font-size-2xl;
      font-weight: $font-weight-bold;
      margin: 0;
      line-height: 1;
      margin-top: 0.2rem;
    }
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: $font-size-base;
    line-height: 1.5;
    letter-spacing: 1px;
    color: $color-stone-700;
  }

  &__dot {
    width: 6px;
    height: 6px;
    background: $color-emerald-500;
    border-radius: 50%;
    flex-shrink: 0;
  }
}
