@use "../abstracts/variables" as *;
@use "../abstracts/fonts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  &--auth {
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: $font-size-lg;
    font-weight: $font-weight-base;
    color: $color-white;
    background-color: $color-emerald-600;
  }

  &--tab {
    padding: 1rem 2rem;
    border-radius: 1rem;
    color: $color-text-sub;
    font-weight: $font-weight-semibold;
    letter-spacing: 1px;
  }

  &--tab-active {
    background-color: $color-emerald-600;
    color: $color-white;
  }

  &--minimal {
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: $color-white;
    font-weight: $font-weight-semibold;
  }

  &--text {
    color: $color-amber-700;
    font-size: 0.9rem;
  }

  &--close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    padding: 0.5rem;
    border-radius: 50%;
    color: $color-stone-500;
    transition: all 0.2s;
    background-color: transparent;
  }

  &--submit {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 0.5rem;
    font-size: $font-size-2xl;
    border-radius: 1.5rem;
    background: $color-stone-800;
    color: white;
  }
}
