@use "../abstracts/variables" as *;
@use "../abstracts/fonts" as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  &--auth {
    gap: 0.5rem;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-size: $font-size-lg;
    font-weight: $font-weight-base;
    color: $color-white;
    background-color: $color-emerald-600;

    &:hover {
      background-color: $color-emerald-700;
    }
  }

  &--tab {
    padding: 1rem 4rem;
    border-radius: 1rem;
    color: $color-text-sub;
    font-weight: $font-weight-semibold;
    letter-spacing: 1px;
  }

  &--tab-active {
    background-color: $color-emerald-600;
    color: $color-white;
  }

  &--minimal {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: $color-white;
    font-weight: $font-weight-semibold;

    &:hover {
      color: $color-amber-200;
    }
  }
}
