@use "../abstracts/variables" as *;
@use "../abstracts/fonts" as *;

.daily-verse {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: $color-amber-50;
  padding: 2rem;
  margin: 2rem auto;
  margin-top: 4rem;
  border-radius: 1rem;
  max-width: 90%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
  }

  &__icon {
    position: absolute;
    top: -1.5rem;
    right: -1.2rem;
    color: $color-amber-500;
    opacity: 0.15;
  }

  &__label {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $color-amber-600;
    letter-spacing: 1px;
  }

  &__text {
    font-size: $font-size-2xl;
    font-weight: $font-weight-semibold;
    color: $color-text-main;
    letter-spacing: 1px;
    line-height: 1.5;
  }

  &__reference {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
    color: $color-stone-500;
    letter-spacing: 1px;
  }
}
