@use "../abstracts/variables" as *;
@use "../abstracts/fonts" as *;

.filter-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding-bottom: 3rem;
  margin-top: 2rem;
}

.filter-option {
  font-size: $font-size-lg;
  font-weight: $font-weight-semibold;
  white-space: nowrap;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  padding: 0.5rem 1.25rem;
  border-radius: 1.5rem;
}

.filter-option.active {
  background-color: white;
  border-color: $color-stone-200;
  color: $color-amber-700;
  box-shadow: 0 1px 2px 0 rgba($color: #000000, $alpha: 0.05);
  transform: scale(1.05);
}

.filter-option.inactive {
  background-color: $color-stone-100;
  color: $color-text-sub;
}
