@use "../abstracts/variables" as *;
@use "../abstracts/fonts" as *;

.guest-banner {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(to right, rgb(245, 158, 11), rgb(217, 119, 6));
  max-width: 90%;
  margin: 2rem auto 0;
  padding: 0 2rem;
  border-radius: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  position: relative;

  &__content {
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 2rem;
    color: $color-white;
  }

  &__icon {
    color: $color-white;
    opacity: 0.15;
    position: absolute;
    top: -1.5rem;
    right: -1.5rem;
  }

  &__text {
    font-size: $font-size-lg;
    letter-spacing: 0.3px;
  }
}
