@use "../abstracts/variables" as *;
@use "../abstracts/fonts" as *;

.header {
  background-color: $color-bg-start;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__brand {
    display: flex;
    gap: 2rem;

    &--title {
      font-size: $font-size-3xl;
    }
  }

  &__logo {
    align-self: center;
    width: 4rem;
    height: 4rem;
    background-color: $color-amber-600;
    color: $color-white;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__streak {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $color-emerald-700;

    &--text {
      font-size: $font-size-lg;
      font-weight: $font-weight-medium;
    }
  }
}
