@use "../abstracts/variables" as *;
@use "../abstracts/fonts" as *;

.header {
  background-color: $color-bg-start;
  position: sticky;
  top: 0;
  z-index: 999999;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }

  &__brand {
    display: flex;
    gap: 2rem;

    &--title {
      font-size: $font-size-3xl;
      letter-spacing: 1.3px;
      font-family: $font-family-base;
    }
  }

  &__streak {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: $color-emerald-700;

    &--text {
      font-size: $font-size-lg;
      font-weight: $font-weight-medium;
    }
  }
}
