@use "../abstracts/variables" as *;
@use "../abstracts/fonts" as *;

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  max-width: 100%;

  &__content {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background-color: $color-stone-200;
    padding: 0.5rem;
    border-radius: 2rem;
    margin: 1rem auto 0;
  }
}
