@use "../abstracts/variables" as *;
@use "../abstracts/fonts" as *;

.navbar {
    display: flex;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    max-width: 100%;
    border-bottom: 1px solid $color-stone-200;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);

    &__content {
        width: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        background-color: $color-stone-200;
        padding: 0.5rem;
        border-radius: 1rem;
        margin: 1rem auto 0;
    }
}
