@use "../abstracts/variables" as *;
@use "../abstracts/fonts" as *;

.settings {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    color: $color-text-main;

    &__header {
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-stone-200;

        h1 {
            font-size: $font-size-2xl;
            color: $color-text-main;
            margin: 0;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &--delacc,
        &--policy,
        &--bugs {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            border-radius: 1rem;
            font-weight: $font-weight-medium;
            font-size: $font-size-xl;
            letter-spacing: 1px;
            width: 100%;
        }

        &--delacc {
            background-color: $color-danger-100;
            color: $color-danger-700;
        }

        &--policy {
            background-color: $color-emerald-100;
            color: $color-emerald-700;
        }

        &--bugs {
            background-color: $color-amber-100;
            color: $color-amber-700;
        }
    }
}
