@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;

.confirm-modal {
  padding: 2rem;

  &__title {
    color: $color-danger-700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: $font-size-xl;
  }

  &__message {
    font-size: $font-size-base;
    line-height: 1.5;
  }

  &__actions {
    display: flex;
    gap: 1.5rem; // Closer together
    justify-content: center;
    align-items: center;
    padding-top: 2rem; // More breathing room
    margin-top: 1rem;
    border-top: 1px solid $color-stone-100; // Separation line
    width: 100%;
  }
}
