@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;

.reauth-modal {
  padding: 2rem;

  &__title {
    color: $color-primary-700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: $font-size-xl;
    margin-bottom: 1rem;
  }

  &__message {
    font-size: $font-size-base;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__input {
    padding: 0.75rem 1rem;
    border: 1px solid $color-neutral-300;
    border-radius: $border-radius-sm;
    font-size: $font-size-base;
    width: 100%;

    &:focus {
      outline: none;
      border-color: $color-primary-500;
    }
  }

  &__error {
    color: $color-danger-500;
    font-size: $font-size-sm;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
}
