@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;

.reauth-modal {
    padding: 2rem;

    &__title {
        color: $color-amber-700;
        text-transform: uppercase;
        letter-spacing: 1.3px;
        font-size: $font-size-xl;
        margin-bottom: 1rem;
    }

    &__message {
        font-size: $font-size-base;
        line-height: 1.5;
        margin-bottom: 1.5rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__input {
        padding: 0.75rem 1rem;
        border: 1px solid $color-emerald-100;
        border-radius: 1rem;
        font-size: 1.6rem;
        width: 100%;

        &:focus {
            outline: none;
            border-color: $color-amber-500;
        }
    }

    &__error {
        color: $color-danger-500;
        font-size: $font-size-base;
    }

    &__actions {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }
}
