@use "../../abstracts/variables" as *;
@use "../../abstracts/fonts" as *;
@use "../../abstracts/mixins" as *;

.reauth-modal {
  padding: 2rem;

  &__title {
    color: $color-amber-700;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-size: $font-size-xl;
    margin-bottom: 1rem;
  }

  &__message {
    font-size: $font-size-base;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__input {
    @include input-base($color-amber-500);
  }

  &__error {
    color: $color-danger-500;
    font-size: $font-size-base;
  }

  &__actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }
}
